<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @trivium.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @trivium.body %>
</p>

<p>
  <strong>Game starts at:</strong>
  <%= @trivium.game_starts_at %>
</p>

<p>
  <strong>Game ends at:</strong>
  <%= @trivium.game_ends_at %>
</p>

<p>
  <strong>Questions count:</strong>
  <%= @trivium.questions_count %>
</p>

<p>
  <strong>Likes count:</strong>
  <%= @trivium.likes_count %>
</p>

<%= link_to 'Edit', edit_trivium_path(@trivium) %> |
<%= link_to 'Back', trivia_path %>
